---
apiVersion: bootstrap.cluster.x-k8s.io/{{kubernetes_api_spec_version}}
kind: initConfiguration
{{ kubernetes_config_init_configuration | to_nice_yaml }}
---
apiVersion: bootstrap.cluster.x-k8s.io/{{kubernetes_api_spec_version}}
kind: clusterConfiguration
{{ kubernetes_config_cluster_configuration | to_nice_yaml }}