apiVersion: {{kubernetes_api_spec_version}}
kind: InitConfiguration
{{ kubernetes_config_init_configuration | to_nice_yaml }}
---

kind: ClusterConfiguration
apiVersion: {{kubernetes_api_spec_version}}
{{ kubernetes_config_cluster_configuration | to_nice_yaml }}