spark.eventLog.enabled=true
spark.eventLog.dir={{SPARK_HS_EVENTLOGS_DIR}}
spark.history.fs.logDirectory={{SPARK_HS_EVENTLOGS_DIR}}
spark.serializer=org.apache.spark.serializer.KryoSerializer
spark.driver.memory=1g
spark.driver.extraJavaOptions=-XX:+UseG1GC
spark.executor.extraJavaOptions=-XX:+UseG1GC